body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

.background-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    background: url("./bgki.jpg") no-repeat center center fixed;
    background-size: cover;
    filter: brightness(70%);
}

.navbar {
    height: 40px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.content {
    text-align: center;
    color: rgb(186, 239, 198);
    margin: 30px auto 50px;
}

#typewriter {
    color: rgb(255, 255, 255);
    font-size: 45px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.additional-element {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: rgb(11, 11, 11);
    width: 50%;
    margin: auto;
}

.abgerundeterBg {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 10px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

footer {
    background-color: #343b4297;
    color: white;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}